# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
rdcFEs.*
*.exe
*.out
*.app

# Simulation I/O data files
*.dat
*.msh
*.m
job_output.txt
output.txt*
*.gmv.*
*.plt.*
out*.xdr*
out*.xda*
PI*
*.e
*.ex2
*.vtk
*.vtu
*.pvd
*.pvsm

